/*-----------------------------------------------------------------------------------
	
	COLORED STYLE
	
-----------------------------------------------------------------------------------*/

.separator span, .separator-small span { background: #959fa1 !important; }
.colored { color: #959fa1; }
p a:hover:after { background: #959fa1; }
.pace .pace-progress { background: #959fa1;}
[data-bigletter]:before { color: #959fa1; }
.visible[data-bigletter]:before { opacity: 0.2; filter: alpha(opacity=20); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; }
nav#main-nav .nav-inner ul li:hover > a, nav#main-nav .nav-inner ul li.current-menu-item > a { color: #959fa1; }
nav#main-nav [data-bigletter]:before { color: #ffffff; }
.skill .skill-bar .skill-active { background: #959fa1; }
footer #backtotop:after { background: #959fa1; }
.filter li a:after { background: #959fa1; }
figure.imgoverlay.overlay-border > a { border-color: #959fa1; }